@use '../../../shared/styles/tokens' as *;

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: $bg-dark;
}

.main-workspace {
  flex: 1;
  display: flex;
  overflow: hidden;

  .canvas-area {
    flex: 1;
    position: relative;
    background-color: rgba(var(--well-rgb), 0.5);
  }
}